
        .footer-container{
            margin: 0px -30px;
        }
	
@font-face {
  font-family:BRLNSDB ;
  src:url(../fonts/BRLNSDB.ttf)

}
        *{
            margin: 0px;
        }    
	

.banner-aboutUs{

margin-top: 5%;
margin-left: -2.2%;
    margin-right: -2.2%;
    
}

    .AboutUs
    {
     border-radius:20px; height:80px;
      margin-top: 90px;
      border: 2px solid #a0ada7;
      color: #f4f1f1;
      background-color: #8e173d;
      font-size: 30pt;
        padding-left: 20px;
      padding-top: 12px;
        font-family: BRLNSDB;
    }
    .btninfo
    {

      font-size: 20px;
      background-color: #e9e9e9;
      color:#8e173d;
      text-align:left;
      list-style: none;
  padding-left: 20px;
  padding-top:12px;
  padding-bottom: 12px;
        font-family: 'Quicksand', sans-serif;
      
        
    }
    .btninfo:hover
    {
      font-size: 20px;
      background-color: #8e173d;
      color:#f4f1f1;
      text-align: left;
      text-decoration: none;
      list-style: none;

    }
    .list
    {
      border:2px solid #a0ada7;
      background-color: #e9e9e9;
      margin-top: 80px;
      padding-left: 0px;
      padding-right: 0px;
      text-decoration: none;
      list-style: none;
      display: block;


    }
    .details{
      margin-bottom: 20px;
      margin-top: 80px;
    }
        
    #description{
        
        background-image: url("images/im1.png");
        margin-top: 40px;
        padding: 20px 20px 20px 20px;
        font-family: 'EB Garamond', serif;
        font-size: 18px;
        line-height: 25px;
        max-width= 100%;

/*height= 388px;*/
    padding: 20px 0 0 0; /*top right bottom left*/

    background-repeat: no-repeat;
    background-position: center center;
/*    background-attachment: fixed;*/
    background-size: cover;
    
        

}
    #headings{
      font-size: 36px;
      color: #8e173d;
      background-color:#e9e9e9 ;
      padding-left: 30px;
      border: 2px solid #a0ada7;
      font-family: 'Quicksand', sans-serif;
        font-weight: bold;
    }
    .text p
    {
      margin-top: 20px;
      margin-bottom: 20px;
  line-height: 25px;
        
    }
        
    hr{
      border:1px solid #a0ada7;
      margin-top: 0px;
      margin-bottom: 0px;
    }
        
    .imgAbout
    {
      width:1630px;
    }
        
    @media (max-width:600px){
      .AboutUs
  {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 30px;
    padding-top: 20px;
  }
  .list
  {
    margin-top: 30px;
  }
    }
.list :hover{
  text-decoration :none;
}
.list a:hover{
  text-decoration :none;
}
.carda
{
  margin: 20px 20px 20px 20px;
  border-radius: 10px;
  border: 1px solid #f4f1f1;
  box-shadow: 5px 2px 2px grey;

}
.imgab
{
  border-radius: 10px 10px 0px 0px;
  margin-top: 15px;

}
.demo{
      color:#696969;
}
