          
              
@font-face {
  font-family:BRLNSDB ;
  src:url(../fonts/BRLNSDB.ttf)

}
              
 .con img{
     height:350px;
     width: 284px;
              }  


.banner-img{
    margin-top: 5%;
}




.get
    {
      height:80px;
      margin-top: 50px;
      border: 2px solid #a0ada7;
      color: #f4f1f1;
      background-color: #8e173d;
      font-size: 30pt;
    padding-left: 20px;
      padding-top: 12px;
        border-radius:20px;
        font-family: BRLNSDB;
    }
    .imgb{
      width:300px;
      height: 250px;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .con{
      margin-top: 40px ;
      margin-bottom: 20px;
    }
    .buttonD
    {
      font-size: 24px;
      color:#f4f1f1;
      background-color: #8e173d;
      margin-top: 20px;
      border: 2px solid grey;
      margin-bottom: 20px;
    }
    .buttonD:hover
    {
      font-size: 24px;
      color:#8e173d;
      background-color: #f4f1f1;
      margin-top: 20px;
border: 2px solid grey;
margin-bottom: 20px;
    }
    .head{
      margin-top: 20px;
      margin-bottom: 20px;
      color:#8e173d;
     font-family: 'Quicksand', sans-serif;
    }
    .text{
      margin-top: 30px;
      margin-bottom: 20px;
      color:#696969;
        text-align: justify;
        font-family: 'EB Garamond', serif;
        font-size: 18px;
    }
@media(max-width:500px){

    .get {
      font-size: 30px;
      padding-top: 16px;
    }

}

    @media (max-width:769px) {
      .imgb
      {
        width: 769px;
      }
    }
