
.banner-img
       {
        margin-top: 4%;
           margin-left: -2.2%;
           margin-right: -2.2%;
           margin-bottom: -2.2%;
}
  


            
@font-face {
  font-family:BRLNSDB ;
  src:url(../fonts/BRLNSDB.ttf)

}

      
      
      
.head
      {
            background-color: #8e173d;
            padding:20px;
            border-radius:20px;
            margin-top: 5%;
            font-family: BRLNSDB;
      }

#map 
      {
            height:500px;
            width:100%;
      
      }
       
.team-block
      {
            margin-top: 50px;
      }
      
.Image img
       {
            width:100%;
            height:100%;
            border-radius: 50%;
            min-height: 100%;
            min-width: 100%;
            
      }
      
      
 .Image
      {
            position:absolute;
            border:8px solid #7e7e7e;
            border-radius:50%;
            min-height: 100px;
            min-width: 100px;
            width:100px;
            height:100px;
            left:50%;
            margin-top:-50px;
            margin-left: -50px;
      }

 h2
    {
            color:#8e173d;
            font-size: 20px;
            font-weight: bold;
            padding-top: 50px;
            
      }

.team-block p
      {
            color:dimgrey;
            line-height: 24px;
            padding:20px 15px;
      }

.description
      {
            background-color:#f4f1f1;
            box-shadow: 4px 4px 4px  4px #7e7e7e;
      
      }
.description:hover 

     {
            background-color: #7e7e7e;
            color:white;
            transition 0.3s ease;
            
      }
      
 .description:hover  h2
        {
            background-color: #7e7e7e;
            color:white;
            transition 0.3s ease;
        }

.description:hover p
        {
            background-color: #7e7e7e;
            color:white ;
            transition 0.3s ease;
      }
.back{
      background-color:#e9e9e9;
      padding-bottom:20px;
    margin-top: -2.2%;
}


.banner
       {
         
        
         background-size:cover ;
      
         
         position:relative;
         background-repeat:no-repeat;
      
         background-attachment:fixed;
         margin-bottom:20px;
         
         
       }
 
    .imgvolun
{
      width:1630px;
}
     
      