
li    
        {
            list-style-type: none;
        }

.image
       {
         background:url(../images/image.png);
         height: 100% 100%;
         width:100% ;
         background-size: 100% 100% ;
         padding:50px;
         position:relative;
         background-size: cover;
         background-attachment: fixed;
       }

li h4,h5
      {
         color:#d3d3d3;
         font-family: sans-serif;
      }
      
.stay:hover
      {
        color:#d3d3d3;  
      }
      
 li h5:hover,h4:hover
      {
        color:black;
      }
       
 .form
      {
        background-color:#939393;
        border-radius: 5px;
        padding-bottom:5px;
        padding-top:5px;
        height:330px;
      }

.form h4,p
      {
            color:#d3d3d3;
      }
.btn
     {
       font-family:sans-serif;
       color:black;
       background-color:#8e173d;
      }
.fa 
     {
       font-size: 25px;
       width: 25px;
       text-align: center;
       text-decoration: none;
       border-radius: 50%;
       color:#d3d3d3;
       padding:5px;
       margin:2px;
      }
 .fa-instagram:hover
      {
           color:purple; 
      }
 .fa-facebook:hover
     {
            color:#3C5a99;
      }
 .fa-linkedin:hover
     {
          color:#0077B5;
      }
 .fa-twitter:hover
     {
            color:#55ACEF;
      }
      