
@font-face {
  font-family:BRLNSDB ;
  src:url(../fonts/BRLNSDB.ttf)

      }



.heading{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 4rem;
  background-color: #8E173D;
  color: white;
  margin-top: 3%;
  /* margin-bottom: : 3%; */
  border-radius: 30px;
  font-family: BRLNSDB;

}

h2{
  font-size: 2rem;
  margin-top: 1rem;
  font-weight:bold;
}


.info input{
  margin: 1rem;
}

.name input{
  width: 50px;
}


@media screen and (max-width:600px)
{
    h2{
      display: flex;
      justify-content: center;
      text-align: center;
    }
}

@media screen and (max-width:600px)
{
    .heading
    {
      font-size: 50px;

    }

}


input[type=submit]{
    background-color: #8e173d;
    border: none;
    padding: 10px 25px;
    text-align: right;
    border-radius: 20px;
    margin-left: 75%;
    box-shadow: 0 5px 20px rgba(142,23,61,0.5);
    color: white;
    font-size:20px;

}







.banner{
  height:20rem;
}

.banner-img{
    background: url(banner.jpeg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height:20rem;
    width:100%;
    position:absolute;
}


.credentails{
  margin:20px 0px;

}

input,select{
  margin-left: 10%;
}
textarea{
  margin-left: 5%;
}


@media screen and (max-width:600px)
{

  .sub-heading{
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
